<% title "Administrator Home" %>

<h1>Administrator Pages</h1>

<div>   <%= link_to 'Reports', {:controller =>'admin/reports'} %> </div>
<div>   <%= link_to 'Students', {:controller => 'admin/students'} %> </div>
<div>   <%= link_to 'Graders', {:controller =>'admin/graders'} %> </div>
<div>   <%= link_to 'Administrators', {:controller =>'admin/administrators'} %> </div>
<div>   <%= link_to 'Books', {:controller =>'admin/books'} %> </div>
